@media (min-width: 768px) {
  .note {
    display: flex;
    width: 85%;
    gap: 10px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    justify-content: flex-end;
    border: 1px solid black;
    border-radius: 10px;
  }

  .noteSubmitBtn {
    height: 30px;
    align-self: center;
    background-color: green;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noteSubmitBtn:hover {
    background-color: rgb(0, 160, 0);
  }

  .noteInput {
    flex: auto;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .note {
    display: flex;
    width: 85%;
    gap: 10px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    justify-content: flex-end;
    border: 1px solid black;
    border-radius: 10px;
  }

  .noteInput {
    flex: auto;
    align-self: center;
  }

  .noteSubmitBtn {
    height: 30px;
    align-self: center;
    background-color: green;

    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noteSubmitBtn:hover {
    background-color: rgb(0, 160, 0);
  }
}
