.main {
  margin: 20px 10px 0 10px;
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.actionModule {
  display: flex;
  gap: 10px;
  position: sticky;
  top: 25px;
  justify-content: center;
}
