@media (max-width: 768px) {
  .noteDoneBtn {
    height: 30px;
    align-self: center;
    background-color: orange;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noteDoneBtn:hover {
    background-color: rgb(231, 150, 0);
  }
}

@media (min-width: 768px) {
  .noteDoneBtn {
    height: 30px;
    align-self: center;
    background-color: orange;

    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noteDoneBtn:hover {
    background-color: rgb(231, 150, 0);
  }
}
